
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452 );
}

#Calculator
{
    border: 1px solid #3a4452;
    padding: 20px;
   border-radius: 10px;
    background-color: transparent;
    height: 420px;
    
}
#display
{
    background: transparent;
    height: 30px;
    width: 200px;
   border: none;
   text-align: right;
   font-size: 30px;
   color: whitesmoke;
   font-weight: bold;
   
}
#t1,#t2,#t3,#t4,#t5,#t6,#t7,#t8,#t9,#t10,#t11,#t12,#t13,#t14,#t15,#t16,#t17,#t18,#t19,#t20 
{
     margin-top: 40px;
    background: transparent;
    border: none;
    color: whitesmoke;
    width: 50px;
    height: 20px;
    font-size: 17px;
  
    
 
}

#t20
{
    color: #3a4452;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background-color: aqua;
    margin-left: 9px;
    font-weight: bold;
}
#t20:hover
{
    background-color: rgb(24, 142, 142) ;
}



#t1:hover,#t2:hover,#t3:hover,#t4:hover,#t5:hover,#t6:hover,#t7:hover,#t8:hover,#t9:hover,#t10:hover,#t11:hover,#t12:hover,#t13:hover,#t14:hover,#t15:hover,#t16:hover,#t17:hover,#t18:hover,#t19:hover
{
 color: #3a4452;
 
}

#t1:hover,#t2:hover,#t3:hover,#t4:hover,#t8:hover,#t12:hover,#t16:hover,#t19:hover
{
color: aqua;
}
#t2
{
    width: 75px;
}
#t1
{
    width: 75px;
}

#display2
{
    display: flex;
    align-items: center;
    padding: 10px;
    background: transparent;
    border:none ;
    color: grey;
    font-size: 14px;
    text-align: right;
   
    width: 205px; 
    height: 10px;
}

#line
{
  width: 200px;
  border: 1px solid #3a4452 ;
  margin: auto;
}
 #row1
 {
  margin-top: 20px;
  
   }
   #row2
   {
    margin-top: 0px;
   }
 /*   #history
   {
    width: 25px;
    background: url(clock.png);
    background-repeat: no-repeat;
     

    border: none;
   }
   #historyholder
   {
  height: 200px;
  text-align: top;
   }
 */